*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.head{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    background-color: gray;
}

.head-content{
    width: 70%;
    display:flex;
   align-items: center;
   margin-top: 10px;
   justify-content: center;
   color: white;
}
.head-images{
    width: 30%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.list{
      display: flex;
      list-style: none;

}
.list li{
    margin-left:10px ;
}
.list li a{

    color: white;
}
.nav{
    width: 100%;
    display: flex;
    
}
.background{
    background-image: ;
    
}
.nav2{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 40%;
    justify-content: center;
    margin-left: 10px;
}
.logo-text{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.nav-list{
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav-list a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.arrow{
    color: black;
    margin-left: 1px;
}





