*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    overflow-x: hidden;
    font-family: 'Flamenco', cursive;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../img/back.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    max-width: 1180px;
    margin: 0 auto;
    padding-bottom: 30px;
    
}

.logoimg{
    height: 80PX;
    width: auto;
    float: left;
    border: 2px solid grey;
    border-radius: 200px;
   position: absolute;
   top: 4%;
 
}


.mainnav{
    float: right;
    margin-top: 60px;
}

.mainnav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;

}


.mainnav li a{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
    padding: 5px 0;
}

.mainnav li a:hover{
    border-bottom: 2px solid #bf55ec;


}
.clearflix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}


.maincontent{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */
}

h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: lighter;

}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;

}



.btn1{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}
.btn1:hover{
    background-color: #fff;

}

.btn2{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}

.btn2:hover{
    background-color: #bf55ec;
}


.colorchange{
    animation: colorchange 1s infinite;
}


@keyframes colorchange{
    0%{color:red;}
    20%{color:#bf55ec;}
    50%{color: white;}
    100%{color: purple;}

}

/* .mobileicon{
    display: none;
} */


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 55px;
}

.line{
    width: 33px;
    background-color: white;
    height: 6px;
    margin: 4px 4px;
}

  
  /* ///////Responsive Queries//////// */

  @media only screen and (max-width:1180px){

    .maincontent{
        width: 100%;
        padding: 0 2%;
    }

    .logoimg{
        margin: 0 2%;
    }
.mainnav{
    padding-right:10px ;
}


  }

  @media only screen and (max-width:998px){
      h1{
          font-size: 200%;
      }

  }


  @media only screen and (max-width:768px){

    h1{
        font-size: 180%;
    }

    /* .mainnav{
        display: none;
    }

    .mobileicon{
        float: right;
        display:inline-block;
        color: #fff;
        margin-top: 50px;
        margin-right: 30px;
    }

    /* .mainnav li{
        float: left;
        display: block;
        margin-top: 10px;
    } */

   


    .burger{
        display: block;
        
    }
    
   .h-nav-resp{
       height: 145px;
   }


   .v-resp{
       opacity: 0;
      
  }
 

  .mainnav{
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      position: absolute;
      right: 34%;
      height: 20%;
    
  }

  .navlist{
      padding-bottom: 20px;
    

  }

  .btn1{
      margin-bottom: 10px;
  }




  }


  @media only screen and (max-width:320px){

    h1{
        font-size: 100%;
    }

    .maincontent{
        margin-top: 50px;
    }

    .btn1{
        font-size: 70%;
    }
    .btn2{
        font-size: 70%;
    }

    .mainnav{
        position: absolute;
        right: 26%;
    }

    .logoimg{
        margin-top: 6%;
    }
  }





 @media only screen and (max-width:240px){


    h1{
        font-size: 77%;
    }

    .line{
        width: 24px;
    }
     

    .logoimg{
        margin-top: 36px;
        width: 20%;
        height: auto;
    }

    .navlist{
        font-size: 65%;
    }


    .btn{
        font-size: 60%;
        padding:5px 15px ;
    }

    .maincontent{
        margin-top: 70px;
    }

 }